@charset "UTF-8";

/*para tabletes*/
@media screen and (min-width:768px) and (max-width:900px) {
  section#login{
    width: 90vw;
    height: 300px;
    p{
      font-size: 1em;
    }
    
  }
  section#login > div#imagen{
      float: left;
      width: 30%;
      height: 100%;
      background-position: right bottom;
      background-size: cover;

    }
  section#login > div#formulario {
      float: right;
      width: 70%;
      #confirmar{
        float: left;
        height: 30px;
        width: 200px;
      }
      #esqueci{
        float: right;
        height: 40px;
        width: 200px;
      }
    }
    /*div.loginformat{
      input{
        width: calc(100% - 50px);
      }
    }
  */

}

/*para pc e telas maiores*/
@media screen and (min-width: 901px) {
  section#login {
    width: 900px;
    height: 300px;

    p{
      font-size: 1em;
    }
  }
  section#login > div#imagen{
      float: right;
      width: 50%;
      height: 100%;
      background-position: right bottom;
      background-size: cover;

    }
  section#login > div#formulario {
      float: left;
      width: 50%;
      #confirmar{
        float: left;
        height: 40px;
        width: 200px;
      }
      #esqueci{
        float: right;
        width: 200px;
      }
    }
    /*div.loginformat{
      input{
        width: calc(100% - 50px);
      }
    }*/
  
}